name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
jobs:
  tests:
    name: Add-on testing
    runs-on: ubuntu-latest
    env:
      PYTHONIOENCODING: utf-8
      PYTHONPATH: ${{ github.workspace }}/resources/lib:${{ github.workspace }}/tests
      TESTS_ENABLED: 'pypy2.7, 3.8, 3.11'
    strategy:
      fail-fast: false
      matrix:
        python-version: [pypy2.7, 3.7, 3.8, 3.9, '3.10', 3.11]
    steps:
    - name: Check out ${{ github.sha }} from repository ${{ github.repository }}
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get install gettext
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run tox
      run: python -m tox -q -e flake8
      if: always()
    - name: Run pylint
      run: python -m pylint resources/lib/ tests/
      if: always()
    - name: Compare translations
      run: make check-translations
      if: always()
    - name: Run pytest
      run: pytest --log-cli-level=INFO
      if: contains(env.TESTS_ENABLED, matrix.python-version)
      continue-on-error: true
    - name: Upload code coverage to CodeCov
      if: contains(env.TESTS_ENABLED, matrix.python-version)
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true
      continue-on-error: true
    - name: Fix coverage.xml source path
      run: sed -i 's@'$GITHUB_WORKSPACE'@/github/workspace/@g' coverage.xml
      if: contains(env.TESTS_ENABLED, matrix.python-version)
      continue-on-error: true
    - name: Analyze with SonarCloud
      if: contains(env.TESTS_ENABLED, matrix.python-version)
      uses: SonarSource/sonarcloud-github-action@master
      with:
        args: >
          -Dsonar.organization=moojmidge
          -Dsonar.projectKey=MoojMidge_service.upnext
          -Dsonar.sources=resources/lib/
          -Dsonar.tests=tests/
          -Dsonar.python.coverage.reportPaths=coverage.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      continue-on-error: true
